@model SupportDashboard.BusinessLogic.Models.Task
@{
    ViewBag.Title = "Add Task";
}

<h2 class="h2">Add Task</h2>

@using (Html.BeginForm("Add", "Tasks"))
{
    Html.RenderPartial("Partials/TaskDetails",Model);

    <input class="btn btn-primary" type="submit" name="Add" value="Add">
}