@model SupportDashboard.BusinessLogic.Models.Task
@{
    ViewBag.Title = "Update Task";
}

<h2 class="h2">Update</h2>

@using (Html.BeginForm("Update", "Tasks"))
{
    Html.RenderPartial("Partials/TaskDetails", Model);

    <input class="btn btn-primary" type="submit" name="Update" value="Update">
    @Html.ActionLink("Back", "Index", "Tasks", null, new { @class = "btn btn-default" })
}
