@model SupportDashboard.BusinessLogic.Models.Category
@{
    ViewBag.Title = "Add Category";
}

<h2 class="h2">Add Category</h2>

@using (Html.BeginForm("Add", "Categories"))
{
    Html.RenderPartial("Partials/CategoryDetails", Model);

    <input class="btn btn-primary" type="submit" name="Add" value="Add">
    @Html.ActionLink("Back", "Index", "Categories", null, new { @class = "btn btn-default" })
}