@model SupportDashboard.BusinessLogic.Models.Category
@{
    ViewBag.Title = "Update Category";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Categories"))
{
    Html.RenderPartial("Partials/CategoryDetails", Model);

    <input type="submit" name="Update" value="Update">
}
