@model SupportDashboard.BusinessLogic.Models.Category

<div class="form-group">
    <label for="category-title" class="contol-label">Category Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "category-title" })
</div>
