@model SupportDashboard.BusinessLogic.Models.Category

<table class="table-bordered" width="500" height="100">
    <tr>
        <td>Category Name</td>
        <td>@Html.TextBoxFor(x => x.Title)</td>
    </tr>
</table>>