@model SupportDashboard.BusinessLogic.Models.Task

<table class="table-bordered" width="500" height="100">
    <tr>
        <td>Task Name</td>
        <td>@Html.TextBoxFor(x => x.Title)</td>
    </tr>

    <tr>
        <td>Task Decription</td>
        <td>@Html.TextBoxFor(x => x.Decription)</td>
    </tr>

    <tr>
        <td>Task CategoryId</td>
        <td>@Html.TextBoxFor(x => x.CategoryId)</td>
    </tr>
</table>>